
.tweet-container {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(239, 239, 239);
  height: 765px;
  width: 604px;
  position: relative;
  margin-left: 270px;
}

.twitter-header {
  display: inline-block;
  margin-left: 8px;
  margin-bottom: 20px;
  font-family: Arial;
}

.twitter-header:hover {
  text-decoration: underline;
}

.tweet-author {
  color: gray;
  font-size: 15px;
  font-weight: lighter;
  margin-left: 21px;
  text-decoration: underline;
  text-decoration-color: white;
}

.verified {
  height: 20px;
  margin-top: 30px;
  position: absolute;
  top: -12px;
  left: 205px;
  margin-left: 4px;
}



.line-1 {
  font-weight: lighter;
  text-align: center;
  margin-left: 12px;
  margin-top: -19px;
  
}

.line-2 {
  font-weight: lighter;
  text-align: center;
  margin-left: 2px;
  margin-top: 24px;
}

.line-3 {
  font-weight: lighter;
  text-align: center;
  margin-left: -260px;
  margin-top: 2px;
}
.line-4 {
  font-weight: lighter;
  text-align: center;
  margin-left: -77px;
  margin-top: 24px; 
}

.line-5 {
  font-weight: lighter;
  text-align: center;
  margin-left: -90px;
  margin-top: 24px; 
}

.Onana {
  margin-top: 14px;
  margin-left: 80px;
  width: 506px;
  height: 500px;
  border-radius: 18px;
  border-width: 1px;
  border-color: lightgray;
  border-style: solid;
}
  


.stats-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
  column-gap: 25px;
  
}




